!!!
%html
  %head
    :javascript
      $(function() {
          var data = {};
          ws = new WebSocket("ws://localhost:8080");
          ws.onopen = function() {
              ws.send('hi');
          };
          ws.onmessage = function(e) {
            var div = document.createElement("div");
            var line = JSON.parse(e.data);
            div.innerHTML = line.name + ":" + line.message;
            $("#holder").append(div);
          };
          $('#submit').click(function(){
            var line = {}
            line.name = $("#name").val();
            line.message = $("#message").val();
            ws.send(JSON.stringify(line));
          });
      });
  %body
    #sender
      %input#name{:type => "text", :value => "text"}/
      %input#message{:type => "text", :value => "text"}/
    #submit
      送信
    %h3 Messages
    #holder
