/.bundle/
/config/database.yml
/config/environment_local.rb
/config/local_config.yml
/coverage/
/db/schema.rb
/db/*.sqlite3
/doc/app/
/doc/plugins/
/doc/spec.html
/log/*.log
/log/*.pid
/spec/reports/
/tmp/
/vendor/bundle/
